<% provide :title, "MansterCards" %>

<h2 class="center title_font">Manster Cards</h2>
<p class="center">By Arthur and Timmy</p>
<div class="content_container">
  <div class="clearfix mansters">
    <p class="center">Coming soon ... </p>
  </div>

</div>