<% provide :title, "MansterCards" %>

<div class="content_container clearfix">
	<h2 class="center title_font">Manster Cards</h2>
	<p class="center">Created by Arthur & Timmy</p>
     <p>Coming soon...</p>
	<div class="page_links clearfix">
		<%= render '/manster_cards/linkstomanstercards' %>
	</div>
</div>
