<h3>My Answer</h3>
<p><%= @current_user_answer[0].answer_col_selected %>, <%= @current_user_answer[0].answer_selected %></p>
<% if @current_user_answer[0].correct == "yes" %>
	<p>You are correct</p>
<% else %>
  <p>Please try next week's challenge</p>
<% end %>