<% provide(:title, 'About') %>

<h2 class="title_font center padding_top_10">About Foofalo</h2>
<div class="content_container">
	<p>About a year ago, in early 2011, my dear son Arthur mentioned to me that he would like to have his own website, foofalo.com, so he can share ideas with his friends. It has been a fun journey to make his dream come true. I hope Arthur and his friends will enjoy the fun foofalo world.</p>
	
	<p>foofalo.com is developed by Christie, Arthur's mother, with love.</p>
	
	<p>Please email me at: foofalo0512@gmail.com with any comments, suggestions, and questions.</p>
	
	<p>Your input is greatly appreciated.</p>
</div>


