<% provide(:title, 'About') %>

<h2 class="center title_font">About Foofalo</h2>
<div class="content_container">
	<p>About a year ago in 2011, my dear son Arthur mentioned to me that he would like to have his own website, foofalo.com, so he can share ideas with his friends. It has been a fun journey to make this happen. Hope Arthur and his friends will enjoy it.</p>
	
	<p>foofalo.com is developed by Christie, Arthur's mother, with love.</p>
	
	<p>Please email me to: foofalo0512@gmail.com with any comments and suggestions.</p>
	
	<p>Your inputs are greatly appreciated.</p>
</div>