<% provide(:title, 'Front') %>
<h1>Foofalo</h1>
<div class="clearfix">
  <div class="joke_legend_title round">
    <h2 class="round">Joke of the Day</h2>
    <div  class="legend clearfix">
      <h3>Joke Name</h3>
      <p>skdfjhgksfljhglsfkjghlskfjgslkfj</p>
	  </div>
  </div>

  <div class="challenge_legend_title round">
    <h2 class="round">Challenge of the week</h2>
    <div  class="legend clearfix">
      <h3>Using each of 9 digits only once, find a number where: </h3>
		  <p>-- the first digit is divisible by 1.</p>
		  <p>-- the first two digits must be divisible by 2.</p>
		  <p>-- The first three digits must be divisible by 3 etc.</p>
		  <p>up to 9 digits that must be divisible by 9.</p>
	  </div>
  </div>

  <div class="fact_legend_title round">
    <h2 class="round">Fun Facts</h2>
    <div  class="legend clearfix">
      <p>An oak tree produces about 2,200 acorns in a season, but each acorn only has a 1 in 10,000 chance of becoming an oak tree.</p>
    </div>
  </div>

  <div>
	  <h2>My Links</h2>
	</div>
</div>