<% provide(:title, 'Home') %>

<div class="logo_outer clearfix">
	<div class="container nav clearfix">
	  <%= image_tag("logo60.png", alt: "foofalo logo") %>
	  <div id="signin_home">
	    <%= link_to "Sign in", signin_url, class: "signin_button round" %>
	  </div>
	</div>
</div >
<hr style="border: none; height: 4px; color: blue; background: green;"/>

<div class="container clearfix">
	<div id="group1">	
		<div class="images_home round">
		  <p>Joke of the Day Image</p>
		</div>
		
		<div class="images_home middle round">
		  <p>Challenge of the Week Image</p>
		</div>
		
		<div class="images_home round">
		  <p>Manster Cards Image</p>
		</div>		
	</div>
	
	<div id="group2", class="round">
	  <p>
	    Foofalo is a website for Arthur and his friends to share jokes, learn fun facts, working on challenge question, view Masnter Cards, play games and more.
	  </p>
		<% if current_user.nil? %>
		  <%= link_to "Sign up now!", signup_path, class: "signup_button round" %>
		<% end %>
  </div>

  <div id="group3">		
		<div class="images_home_2 round">
		  <p>Fun Facts Image</p>
		</div>
		
		<div class="images_home_2 middle round">
		  <p>Games Image</p>
		</div>
		
		<div class="images_home_2 round">
		  <p>My Favorate links Image</p>
		</div>
	</div>
</div>
<hr style="border: none; height: 4px; color: blue; background: green;"/>

