<% provide(:title, 'Home') %>

<h1>Foofalo</h1>
  <p>
    Foofalo is a website for Arthur and his friends to sharing jokes, learn fun facts, working on challenge question and more.
  </p>
<% if current_user.nil? %>
  <%= link_to "Sign up now!", signup_path, class: "signup_button round" %>
<% end %>