<% provide(:title, 'Terms') %>
<h1 class="center">Terms of Use</h1>

<p class="bold">Effective Date: March 12, 2012</p>
<p class="bold">Date of Last Revision: March 12, 2012</p>

<p>Welcome to the web site www.foofalo.com. It is a private website operated by Christie Lafrance for Arthur to connect with his friends. All users of www.foofalo.com are subject to the following terms and conditions of use (these “Terms of Use”).</p>

<p>Please read these Terms of Use carefully before accessing or using any part of this Site. By accessing or using this Site, you agree that you have read, understand and agree to be bound by these Terms of Use, as amended from time to time, as well as our <span>Privacy Policy</span>, which is hereby incorporated into these Terms of Use. If you do not wish to agree to these Terms of Use, do not access or use any part of this Site.</p> 

<p>We may revise and update these Terms of Use at any time without notice by posting the amended terms to this Site. Your continued use of the Site means that you accept and agree to the revised Terms of Use. If you disagree with the Terms of Use (as amended from time to time) or are dissatisfied with this Site, your sole and exclusive remedy is to discontinue using this Site. It is your responsibility to regularly check the Site to determine if there have been changes to these Terms of Use and to review such changes.</p>

<p class="bold">USE OF THE SITE</p> 

<p>You agree to use the Site only for lawful purposes. 
	
<p>(a) Safety, here are some commitments you make to us relating to registering and maintaining the security of your account:</p>
<ol>
<li>Provide your real names and information. You will not provide any false personal information on www.foofalo.com or create an account for anyone other than yourself without permission.</li>
<li>Need to provide your parents email address to get parent/parents permission to use the site.</li>
<li>Any joke and other content you provide to www.foofalo.com should be child proper. We have the right to delete any information that we believe are not proper for children.
<li>You will not create more than one personal profile.</li>
<li>You will not share your password, let anyone else access your account, or do anything else that might jeopardize the security of your account.</li>
<li>You will not transfer your account (including any page or application you administer) to anyone without first getting our written permission.</li>
<li>If you select a username for your account we reserve the right to remove or reclaim it if we believe appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).</li>
<li>You will not post content or take any action on www.foofalo.com that infringes or violates someone else's rights or otherwise violates the law. We can remove any content or information you post on www.foofalo.com if we believe that it violates this Statement.</li>
<li>All content you provide on www.foofalo.com becomes www.foofalo.com's property.</li>
<li>You will not use our copyrights or trademarks (including Foofalo, the Foofalo and our Logos, or any confusingly similar marks, without our written permission.</li>
<li>You will not post anyone's identification documents or sensitive financial information on www.foofalo.com</li>
</ol>

<p>(b)	Specifically you agree not to do any of the following:</p> 
<ol>
<li>upload to or transmit on the Site any defamatory, indecent, obscene, harassing, violent or otherwise objectionable material, or any material that is, or may be, protected by copyright, without permission from the copyright owner;</li> 
<li>use the Site to violate the legal rights (including the rights of publicity and privacy) of others or to violate the laws of any jurisdiction; </li>
<li>upload to or transmit on the Site any advertisements or solicitations of business; </li>
<li>restrict or inhibit use of the Site by others;</li>
<li>upload or otherwise transmit files that contain a virus or corrupted data;</li> 
<li>collect information about others (including e-mail addresses) without their consent;</li> 
<li>post “spam,” transmit chain letters or engage in other similar activities;</li> 
<li>solicit, provide or exchange any personal information, including but not limited to user names or passwords;</li>
<li>“stalk,” abuse or harass another user, or attempt to do any of the foregoing; or </li>
<li>engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of the Site, or which, as determined by the us, may harm www.foofalo.com or users of the Site or expose them to liability. Without limiting any of the foregoing, you also agree to abide by any code of conduct applicable to the Site or any service available on the Site.</li>
</ol>

<p>(c)	Any content provided by user are solely the opinions and responsibility of the person or entity submitting them and do not necessarily reflect the opinions of the www.foofalo.com. You understand and acknowledge that you are responsible for whatever content you submit, and you, not the www.foofalo.com, have full responsibility for such content, including its legality, reliability and appropriateness. By uploading or otherwise transmitting material to any area of the Site, you warrant that the material is your own or is in the public domain or otherwise free of proprietary or other restrictions and that you have the right to post it to the Site. You grant to the www.foofalo the right to use all content you upload or otherwise transmit to the Site in any manner the www.foofalo.com chooses, including, but not limited, to copying, displaying, performing or publishing it in any format whatsoever, modifying it, incorporating it into other material or making a derivative work based on it. </p>

<p>(d)  www.foofalo.com reserves the right, but does not assume any responsibility, to</p>
<ol>
<li>remove any material posted on the Site which the www.foofalo.com, in its sole discretion, deems inconsistent with the foregoing commitments (including any material that www.foofalo.com has reason to believe constitutes, or for which the www.foofalo.com has received notice of its constituting, a copyright infringement); and terminate any user’s access to all or part of the Site. 

<p>However, the Company can neither review all material before it is posted on the Site nor ensure prompt removal of objectionable material after it has been posted. Accordingly, www.foofalo.com assumes no liability for any action or inaction regarding transmissions, communications or content provided by third parties. www.foofalo.com reserves the right to take any action it deems necessary to protect the personal safety of users of this Site and the public; however, www.foofalo.com has no liability or responsibility to anyone for performance or nonperformance of the activities described in this paragraph.</li> 
</ol>

<p>(e)  Your failure to comply with the provisions of (a) or (b) above may result in the termination of your access to the Site and may expose you to civil and/or criminal liability.</p>

<p class="bold">ACCOUNTS </p>

<p>To access www.foofalo.com requires you to create an account. You agree to provide true, accurate, current and complete information during the registration process for any account, and to keep the information current through updates. You may not impersonate any person or entity or misrepresent your identity, including by using another person’s account information. We may suspend or terminate your account for any failure to comply with these Terms of Use, any terms related to any service offered through the Site or for any reason whatsoever, or for no reason. Notwithstanding the foregoing, you acknowledge that the www.foofalo.com does not guarantee the accuracy of any information submitted by any user, including account information about the user. You are fully responsible for all activities conducted through your account. You are responsible for maintaining the confidentiality of your password and for any use of your password to gain access to your account and your account information. If you disclose your password to any other person, it is at your own risk. You do not own the account you use to access the Site, and you do not own any data the Company stores on its servers.</p> 

<p class="bold">PRIVACY POLICY , PROTECTION OF PERSONAL INFORMATION</p> 

<p>We collect your information to provide you with the products and services you request and communicate with you about your account at www.foofalo.com. We will not share your personal information outside the website. From time to time, we review our security procedures to consider appropriate new technology and methods. Please be aware though that, despite our best efforts, no security measures are perfect or impenetrable.</p> 

<p class="bold">COPYRIGHT RESTRICTIONS/USE OF CONTENT</p> 

<p>The entire contents of this Site (including all information, text, displays, images and audio and any software made available through or in connection with the Site) and the design, selection and arrangement thereof, are proprietary to the www.foofalo.com or its affiliates or licensors and are protected by United States and international laws regarding copyrights, trademarks, trade secrets and other proprietary rights. You are authorized only to use the content on the Site for personal use or legitimate business purposes related to your role as a current or prospective user of the Site. You may not copy, modify, create derivative works of, publicly display or perform, republish, store, transmit or distribute any of the material on this site without the prior written consent of the Company, except to:</p> 
<ol>
  <li>store copies of such materials temporarily in RAM,</li> 
  <li>store files that are automatically cached by your web browser for display enhancement purposes, and</li>
  <li>print a reasonable number of pages of the Site; provided in each case that you do not alter or remove any copyright or other proprietary notices included in such materials. Neither the title nor any intellectual property rights to any information or material in this Site are transferred to you, but remain with us or the applicable owner of such content. Except as expressly authorized by us in writing, you may not reproduce, sublicense, distribute, sell or exploit for any commercial purposes 
    <ol>
	    <li>(a) any part of this Site,</li>
	    <li>(b) access to this Site or</li> 
	    <li>(c) use of this Site or of any services or materials available through this Site.</li>	
    </ol>
  </li>
</ol>

<p>In accordance with the Digital Millennium Copyright Act (DMCA) and other applicable law, www.foofalo.com may, in appropriate circumstances and in www.foofalo.com’s sole discretion, terminate your access to this Site if it deems you to be a repeat infringer. www.foofalo.com may also, in its sole discretion, limit your access to the Site and/or terminate your membership if you infringe any intellectual property rights of others, whether or not there is any repeat infringement.</p>

<p class="bold">ACCESS AND INTERFERENCE </p>

<p>You agree that you will not<p>
<ol>
<li>use any robot, spider or other automatic device, process or means to access the Site,</li> 
<li>use any manual process to monitor or copy any of the material on this site or for any other unauthorized purpose without the prior written consent of the Company,</li>
<li>use any device, software or routine that interferes with the proper working of the Site,</li> 
<li>attempt to interfere with the proper working of the Site,</li> 
<li>take any action that imposes an unreasonable or disproportionately large load on the Company’s infrastructure, or</li> 
<li>access, reload or “refresh” transactional pages, or make any other request to transactional servers, more than once during any three (3) second interval.</li>
</ol> 

<p class="bold">TRADEMARKS</p> 

<p>The Foofalo name and logos, and all related names, logos, product and service names, designs and slogans contained in the Site or any software provided or accessed in connection therewith are trademarks of the Company, its affiliates, licensors and/or contractors unless otherwise clearly specified in writing. You may not use such marks without the prior written permission of the Company. All other names, brands and marks are used for identification purposes only and may be the trademarks of their respective owners.</p> 

<p class="bold">LIABILITY OF THE COMPANY AND ITS LICENSORS</p> 

</p>The www.foofalo.com does not assume any liability for the materials, information and opinions provided on, or available through, the Site (the “Site Content”). Reliance on the Site Content is solely at your own risk. The www.foofalo.com disclaims any liability for injury or damages resulting from the use of any Site Content.</p> 

<p>THE SITE, THE SITE CONTENT AND THE PRODUCTS AND SERVICES PROVIDED ON OR AVAILABLE THROUGH THIS SITE ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, WITH ALL FAULTS. NEITHER THE COMPANY, ITS LICENSORS OR CONTRACTORS, NOR ANY PERSON ASSOCIATED WITH THE COMPANY MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE QUALITY, ACCURACY, OR AVAILABILITY OF THE SITE, THE CONTENT, PRODUCTS OR SERVICES. SPECIFICALLY, BUT WITHOUT LIMITING THE FOREGOING, NEITHER WWW.FOOFALO.COM, ITS LICENSORS, ITS CONTRACTORS NOR ANYONE ASSOCIATED WITH WWW.FOOFALO.COM WARRANTS OR REPRESENTS THAT THE SITE, THE SITE CONTENT OR THE PRODUCTS AND SERVICES PROVIDED ON OR THROUGH THIS SITE WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED; THAT DEFECTS WILL BE CORRECTED; THAT THE SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR THAT THE SITE WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS. WWW.FOOFALO.COM AND ITS LICENSORS AND CONTRACTORS DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT. </p>

<p>IN NO EVENT WILL WWW.FOOFALO.COM OR ITS LICENSORS OR CONTRACTORS BE LIABLE FOR ANY DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF, OR INABILITY TO USE, THE SITE, THE SITE CONTENT, ANY SERVICES PROVIDED ON OR THROUGH THIS SITE OR ANY LINKED SITE, INCLUDING ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING, BUT NOT LIMITED TO, PERSONAL INJURY, LOST PROFITS OR DAMAGES RESULTING FROM DELAY, INTERRUPTION IN SERVICE, VIRUSES, DELETION OF FILES OR ELECTRONIC COMMUNICATIONS, OR ERRORS, OMISSIONS OR OTHER INACCURACIES IN THE SITE OR THE SITE CONTENT OR SERVICES, WHETHER OR NOT THERE IS NEGLIGENCE BY THE COMPANY AND WHETHER OR NOT THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES.</p>

<p>You acknowledge and agree that neither www.foofalo.com nor its licensors or contractors operate or control the Internet and that: 
<ol>
	<li>viruses, worms, trojan horses or other undesirable data or software; or</li>
	<li>unauthorized users (e.g., hackers) may attempt to obtain access to your data, web site, computer or network. The Company uses what it believes to be reasonable efforts to protect itself and its Site users from such unauthorized use, but the Company and its licensors and contractors are not responsible for failures resulting from the acts or omissions of third parties not controlled by or under contract with the Company.
</ol>

<p class="bold">INTERACTION WITH OTHER USERS</p> 

</p>As a condition of access to the Site, you release www.foofalo.com (and its shareholders, partners, affiliates, directors, officers, subsidiaries, employees, agents, suppliers, third party information providers, licensors, licensees, distributors and contractors) from claims, demand and damages (actual and consequential) of every kind and nature arising out of or in any way connected with any dispute you may have with any other user of the Site. www.foofalo.com will have the right but not the obligation to resolve disputes between users relating to use of the Site, and to the extent that it elects to resolve such disputes, www.foofalo.com will do so in good faith based on the general rules and standards of the Site. You release www.foofalo.com (and its shareholders, partners, affiliates, directors, officers, subsidiaries, employees, agents, suppliers, third party information providers, licensors, licensees, distributors and contractors) from claims, demand and damages (actual and consequential) of every kind and nature arising out of or in any way connected with the Company’s resolution of such disputes.</p> 

<p class="bold">INDEMNIFICATION </p>

<p>You agree to indemnify and hold harmless www.foofalo.com and its shareholders, partners, affiliates, directors, officers, subsidiaries, employees, agents, suppliers, third party information providers, licensors, licensees, distributors, contractors and others involved in the Site or the delivery of products, services or information over the Site, from and against any and all liabilities, expenses, damages and costs, including reasonable attorney’s fees, arising from any violation by you of these Terms of Use or your use of the Site or any products, services or information obtained from the Site.</p> 

<p class="bold">COMMENTS AND SUBMISSIONS</p> 

<p>www.foofalo.com welcomes your comments. All comments, suggestions or other information sent by you to the site or its advertisers or business partners in response to solicitations on this Site will become the site's property and you agree that all intellectual property rights therein are transferred to the Company. If we solicit submissions through features or activities on or through the Site that require use of our copyrighted works, we grant to you a non-exclusive license to create a derivative work of such works to the extent required to make your submission and only for the purpose of making your submission. For avoidance of doubt, www.foofalo.com shall own any developments by the us or on its behalf arising out of your comments, suggestions or other submissions. To the extent www.foofalo.com does not own such materials, you grant and agree to grant www.foofalo.com a non-exclusive, royalty-free license to utilize, create derivative works of, distribute and sublicense such materials for any purpose in connection with www.foofalo.com's products and services. You have no expectation of any review, compensation or consideration of any type for all submissions hereunder.</p>

<p>You understand that any postings, or content submitted for posting, to publicly available portions of the Site, including chat areas, message boards and the like (“Public Areas”) are non confidential for all purposes. You have no expectation of privacy related to Public Areas.</p> 

<p class="bold">LINKS TO OTHER SITES; DEALINGS WITH OTHER MERCHANTS</p> 

<p>The Site contains links to other web sites on the Internet. The www.foofalo.com is not responsible for and does not endorse the content, products, services or practices of any third party web sites, including, without limitation, sites framed within the Site or third party advertisements, and does not make any representations regarding their quality, content or accuracy. Your use of third party web sites is at your own risk and subject to the terms and conditions of use for such web sites.</p>

<p>www.foofalo.com is not responsible for any products or services you may elect to purchase, download or use from any third party distributor, merchant, advertiser, or other information or service provider (“Merchant”). All transactions regarding goods or services offered by Merchants, including, but not limited to, the purchase and payment terms for such goods or services, warranties, guarantees, maintenance and delivery, are solely between you and the Merchant and are governed by the terms of the agreement between you and the Merchant. www.foofalo.com is not a party to any transactions between you and a Merchant, and is not liable for any direct or indirect costs or damages arising out of any dispute between you and a Merchant. NEITHER WWW.FOOFALO.COM, ITS LICENSORS OR CONTRACTORS, NOR ANY THIRD PARTY PROVIDER, OTHER THAN THE MERCHANT OFFERING SUCH GOODS OR SERVICES, MAKES ANY EXPRESS OR IMPLIED REPRESENTATIONS OR WARRANTIES REGARDING THE GOODS OR SERVICES OFFERED BY SUCH MERCHANT, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT OR COMPATIBILITY.</p>

<p class="bold">TERMINATION</p>

<p>If you violate the letter or spirit of this Statement, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of www.foofalo.com to you. We will notify you and your parents by the email you provided or at the next time you attempt to access your account. You may also delete your account or disable your application at any time be sending us an email notification.</p>
 
<p class="bold">DISPUTES</p>

<p>You will resolve any claim, cause of action or dispute (claim) you have with us arising out of or relating to this Statement or www.foofalo.com exclusively in a state or federal court located in Santa Clara County. The laws of the State of California will govern this Statement, as well as any claim that might arise between you and us, without regard to conflict of law provisions. You agree to submit to the personal jurisdiction of the courts located in Santa Clara County, California for the purpose of litigating all such claims.</p>
<p>If anyone brings a claim against us related to your actions, content or information on Facebook, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to such claim.</p>

<p>WE TRY TO KEEP WWW.FOOFALO.COM UP, BUG-FREE, AND SAFE, BUT YOU USE IT AT YOUR OWN RISK. WE ARE PROVIDING WWW.FOOFALO.COM AS IS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE DO NOT GUARANTEE THAT WWW.FOOFALO.COM WILL BE SAFE OR SECURE. WWW.FOOFALO.COM IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR CONTRACTORS, DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE §1542, WHICH SAYS: A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR. WE WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR OTHER CONSEQUENTIAL, SPECIAL, INDIRECT, OR INCIDENTAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THIS STATEMENT OR FACEBOOK, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN SUCH CASES, WWW.FOOFALO.COM'S LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.</p>

<p class="bold">MISCELLANEOUS</p> 

</p>The owner of this Site is based in the State of California, USA. www.foofalo.com makes no representation that materials in this Site are appropriate or available for use in other locations. If you access this Site from other locations, you are responsible for complying with local laws. </p>

<p>You agree to abide by U.S. and other applicable laws, including export control laws, and not to transfer, by electronic transmission or otherwise, any software or other content downloaded from the Site to a destination prohibited by such laws, without first obtaining, and then complying with, any requisite government authorization. By downloading any software from the Site, you warrant that you are not located in any country, or exporting such software to any person or place, to which the United States has embargoed goods. You further agree not to upload to the Site any data or software that cannot be exported without prior written government authorization, including, but not limited to, certain types of encryption software. </p>

<p>These Terms of Use, as they may be amended from time to time, completely and exclusively state the agreement between you and the Company with respect to the Site, and no other terms that may have been communicated to you orally or in any other manner shall have any force or effect. Any cause of action you may have with respect to the Site must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is barred. </p>

<p>You agree and acknowledge that your violation of any restrictions in these Terms of Use on the use of the Site, Site Content, or software or services available on or through the Site, or your use or disclosure of Confidential Information in a manner inconsistent with the provisions of these Terms of Use, may cause the www.foofalo.com irreparable damage for which remedies at law may be inadequate. You agree that, in the event of your unauthorized use of the Site, Site Content, software and services, or your unauthorized disclosure of Confidential Information, www.foofalo.com will be entitled to injunctive relief, in addition to such other legal and equitable remedies that may be available. www.foofalo.com’s licensors and contractors are express third party beneficiaries of any terms in these Terms of Use that are applicable to their products or services, including disclaimers of warranty and limitations of liability, and shall have the right to enforce directly against you all of your applicable representations, warranties, covenants, indemnifications and obligations under these Terms of Use. </p>

<p>If any part of these Terms of Use is unenforceable, the unenforceable part shall be construed to reflect, as nearly as possible, the original intentions of the parties. The other provisions of these Terms of Use shall remain in full force and effect.</p> 

<p>www.foofalo.com’s failure to insist upon or enforce strict performance of any provision of these Terms of Use shall not constitute a waiver of the provision. Neither a course of dealing or conduct between you and the www.foofalo.com nor any trade practices shall be deemed to modify these Terms of Use.</p>