<h1>Username Reminder</h1>

<%= form_tag username_reminder_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
	<div class="actions"><%= submit_tag "Send Username" %></div>
<% end %>
