<p>To approve <%= @user.firstname %> <%= @user.lastname %>'s account with Foofalo, click the link below:</p>

<p><%= link_to "Approve #{@user.firstname} #{@user.lastname} to use Foofalo.com", edit_parent_confirm_url(@user.inform_parents_token) %></p>
