<p><%= @user.firstname %> <%= @user.lastname %>

has registered and been approved by parents to logon to <%= link_to "www.foofalo.com", "http://www.foofalo.com" %> using username <%= @user.username %>.</p>