<li>
  <p><%= full_name(user.firstname, user.lastname) %><br />
  <%= user.email %>
  <% if current_user.privilege == 0 && current_user.id != user.id %>
    | <%= link_to "delete", user, :method => :delete, :confirm => "Deleting user #{full_name(user.firstname, user.lastname)}?" %>
  <% end %></p>
</li>