<% provide(:title, current_user.firstname) %>

<div class="profile">
  <div class="main">
    <h1>Hi, <%= current_user.firstname %></h1>
  </div>
  <div class="sidebar round">
    <strong>First Name</strong> <%= current_user.firstname %><br />
    <strong>Last Name</strong> <%= current_user.lastname %><br />
    <strong>URL</strong>  <%= link_to user_path(current_user), current_user %>
  </div>
</div>
