<% provide :title, "Games" %>

<div class="content_container clearfix">
	<h2 class="page_title">Games</h2>
	
	<p>Coming soon...</p><br />
	
  <!-- <div class="page_main page_main_list clearfit"> -->
		<div class="margin_left_30 center">
 <!--		<p>Coming soon...</p><br />
		<h3>Magic Ball</h3>
		<h3>Guess numbers</h3>
      <p>Ask me a question, I will give you an answer.</p>

      <div class="full-circle center">
	      <p>gggg</p>
	
	    </div>
    </div>
 </div> -->

	<!-- <div class="page_links clearfix">
		<%= render '/games/linkstogames' %>
	</div> -->
</div>