<% provide :title, "Games" %>

<div class="content_container clearfix">
	<h2 class="title title_font">Games</h2>
  <div class="page_main page_main_list clearfit">
    <p>Under construction, please check back later.</p>
  </div>

	<div class="page_links clearfix">
		<%= render '/games/linkstogames' %>
	</div>
</div>