<p class="view_jokes clearfix">
  <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
  <%= link_to 'View, Edit My Links', links_path %>
</p>
<p class="create_new_joke clearfix">
  <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
  <%= link_to 'Create New Links', newlink_path %>
</p>