<% provide :title, "Links" %>

<div class="content_container clearfix">
	<h2 class="page_title">My Links</h2>
  <div class="page_main page_main_link page_main_list clearfit margin_right_0 padding_right_0">
		<div class="margin_left_10">
	    <% @categories.each do |category| %>
		    <% if Link.where(:user_id => current_user.id, 
		                      :category => category).count > 0 %>
		      <div class="categories">
		        <h3><%= category %> <span class="font_grey_small_1">(<%= Link.where(:user_id => current_user.id, 
		                      :category => category).count %>)</span></h3>
		      </div>
				  <div class="links clearfix">
				    <% Link.where(:user_id => current_user.id, 
								:category => category).order(:name).each do |link| %>
				        <span><%= link_to link.name, "#{url_with_protocol(link.url)}", :target => :blank %></span>
				    <% end %><br />
	        </div>
	      <% end %>
	    <% end %>	
	  </div>	
  </div>

	<div class="page_links clearfix">
		<%= render '/links/linkstomylinks' %>
	</div>
</div>