a { text-decoration: none; 
	  color: #368BB5;
}

html, body {
	height: 100%;
	margin: 0;
	background: #DCDEDC;
}

.frame {
	display: table;
	width: 100%;
}

html>/**/body .frame {
	height: 100%;
}

.row {
	display: table-row;
	height: 1px;
	overflow: hidden;
}

html>body .row.expand {
	height: auto;
}

#page {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #BBBFBF;
	margin: -85px auto 0 auto;
	width: 960px;
	padding: 15px 15px 30px 15px;
	/*border: 1px solid blue;*/
	height: auto;
}

.top {
  border-bottom: 1px solid #BBBFBF;
  height: 140px; 
  margin-top: 0px; 	
	background: #C7D1CA;
	/*border: 1px solid yellow;*/
}

.content_container {
	width: 920px;
	min-height: 400px;
/*	border: 1px solid red;*/
}

header {
	height: 55px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background: #C7D1CA;
	/*border: 1px solid green;*/
	border: none !important;	
}

header img {
  margin-top: 19px;
  margin-left: 10px;
}

nav {
	float: right;
  margin-top: 24px;
  margin-bottom: -6px;
  /*border: 1px solid green;*/
}

nav a {
  font-size: 1.2em;
	font-weight: bold;
	color: #368BB5 !important;
	margin-right: 20px;
	margin-bottom: 0px;
}

/********** Home Page **********/

img.joke_image_home {
  float: left;
  margin: 1em 0 0 60px;
}

img.challenge_image_home {
  float: left;
  margin: 16.5em 0 0 -260px;
}

img.manster_image_home {
  float: left;
  margin: 32em 0 0 -100px;
}

#logo_image {
	float: left;
	margin-top: 4em;
  margin-left: -60px;
  padding: 0 20px 0 20px;
}

#home_main {
	float: left;
	width: 360px;
	margin-top: -34em;
  margin-left: 256px;
  padding: 20px 20px 0 20px;
  text-align: justify;
}

img.funfact_image_home {
  float: right;
  margin: -42.2em 55px 0 0;
}

img.links_image_home {
  float: right;
  margin: -27em 0 0 0;
}

img.game_image_home {
  float: right;
  margin: -11em 160px 0 0;
}

/*a.signup_button {
	display: block;
	width: 170px;
  background: #F2A81A;
  padding: 20px;
	margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  color: white !important;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
}*/

a.signup_button {
  display: block;
	width: 170px;
	margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #F2A81A !important;
  color: #4E8F0D !important;
  font-size: 2em;
  font-weight: bold;
}

a.signup_button:hover {
  text-decoration: none !important;
  color: #F2A81A !important;
}

/********************** Footer *****/

footer {
	/*border: 1px solid red;*/
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
  text-align: center;
  font-size: .8em; 
  color: #565957;

}

footer span, footer a  {
	margin-right: 6px;
	margin-left: 6px;
}

/************************* Header *********/
body#Users a.highlight_users,
body#User a.highlight_users,
body#EditUser a.highlight_profile
 {
	border: 1px solid red;
	padding: 2px;
	background: #F0F5F3;
}

/********************* Signin /Signup forms *****/

/*input#password {
	width: 96%;
	height: 20px;
	font-size: 1.1em; 
}*/

.content_container p {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.1em;
}

.rememberme {
	margin-bottom: 25px;
}

/********************** Form style *************/

.page_title {
	text-align: center;
	font-size: 2.5em;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 1px solid red;
}

div.field {
	width: 420px;
	margin-top: 14px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid green;
}
/*
.field_center {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid blue;
}*/

.field label {
	font-size: 1.1em;
}

.field input, .field select, .field textarea {
	margin-top: 1px;
	font-size: 1.1em;
}

.field_size {
	width: 96%;
	height: 20px;
}

input#password {
	width: 96%;
	height: 20px;
}

input.buttons {
	width: 80px;
	font-size: 1.4em;
	margin-right: 20px;
}

textarea {
	line-height: 140%%;
  height: 140px;
  width: 495px;
}

/*.actions {
	margin-top: 10px;
	border: 1px solid red;
}*/

input:focus, textarea:focus  { 
   outline: none;
   border: 1px solid #368BB5 !important; 
   border: 1px solid orange !important; 
   
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
           border-radius: 4px;
   /* create a BIG glow */ 
/*   -webkit-box-shadow: 0px 0px 1px #368BB5; 
      -moz-box-shadow: 0px 0px 1px #368BB5;
           box-shadow: 0px 0px 1px #368BB5; */    
/*   -webkit-box-shadow: 0px 0px 1px green; 
      -moz-box-shadow: 0px 0px 1px green;
           box-shadow: 0px 0px 1px green; */
}​


/********************** Link Style *****/

a {
  color: #368BB5;
  text-decoration: none;
}

a:hover {
  color: #590E5A;
  text-decoration: underline;
}

a:visited {
  color: #590E5A;
  color: #9915E6;
}


/********* Utilities **********/

.round {
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
}

.round_bottom {
  -webkit-border-radius: 0 0 8px 8px;
     -moz-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
}

.round_top {
  -webkit-border-radius: 8px 8px 0 0;
     -moz-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
}

.round_all {
  -webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
          border-radius: 8px;
}