/*********************** Layout *****/
body {
	background: #DCDEDC;
}

.top {
  border-bottom: 1px solid #BBBFBF;
  height: 140px; 
  margin-top: 0px; 	
	background: #C7D1CA;
}

header {
	height: 55px;
	width: 991px;
	background: #C7D1CA;
	margin-top: -6px;
	border: none !important;	
}

header img {
  margin-top: 19px;
  margin-left: 10px;
}

nav {
	float: right;
  margin-top: 24px;
  margin-bottom: -6px;
}

nav span {
	padding-right: 30px;
}

nav a {
  font-size: 1.2em;
	font-weight: bold;
	color: #368BB5 !important;
	margin-right: 20px;
	margin-bottom: 0px;
}

.nav_bar div {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -4px;
}

ul.nav_bar {
	width: 992px;
	border-left: 1px solid green;
	border-right: 1px solid green;
	border-top: 1px solid green;
	background: #55B536;
	color: #fff;
	margin-bottom: 0;
}

.nav_bar li {
	list-style-type: none;
	float: left;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: -14px;
	font-size: 1.3em;
}

.nav_bar a {
	padding-top: 8px;
	padding-bottom: 7px;
  padding-right: 20px;
	padding-left: 20px;
	color: #fff;
}

.nav_bar a:hover  {
	color: #fff;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 3px;
	text-decoration: none;
}

.nav_bar a:visited {
	color: #fff;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 3px;
}

body#Index li.home_link,
body#Jokes li.jokes_link,
body#Challenges li.challenges_link,
body#FunFacts li.fun_facts_link,
body#Games li.games_link,
body#Links li.my_links {
	background-color: #13A835;
	color: #fff;
	padding-top: 6px;
	padding-bottom: 6px;
}

div.container {
	margin-top: -135px;
}

div.main {
	background: #fff;
	border: 1px solid #BBBFBF;
	min-height: 600px;
	max-height: 800px;
	margin-top: -5px;
	padding: 40px 40px 40px 40px;
}

/************************* Home page *****/

div.home_images {
	width: 180px;
	height: 140px;
	background-color: #CCFFCC;
	text-align: center;
}

div.joke_image {
  float: left;
  margin: 15px 0 0 60px;
}

div.challenge_image {
  float: left;
  margin: 230px 0 0 -240px;
}

div.manster_image {
  float: left;
  margin: 485px 0 50px -10px;
  margin: 440px 0 -10px -40px;
}

#logo_image {
	float: left;
	margin-top: 50px;
  margin-left: -80px;
  padding: 0 20px 0 20px;
}

#home_main {
	float: left;
	width: 360px;
	margin-top: -420px;
  margin-left: 256px;
  padding: 20px 20px 0 20px;
}

div.funfact_image {
  float: right;
  margin: -550px 65px 0 0;
}

div.links_image {
  float: right;
  margin: -340px 0px 0 0;
}

div.game_image {
  float: right;
  margin: -132px 190px -10px 0;
}

.border-top {
  border-bottom: 1px solid #BBBFBF;
  height: 120px; 
  margin-top: 0px; 
	background: #E1EDE7;
}

a.signup_button {
	display: block;
	width: 170px;
  background: #F2A81A;
  padding: 20px;
	margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  color: white !important;
  font-size: 150%;
  font-weight: bold;
}

a.signup_button:hover {
  text-decoration: none !important;
}

/********************* Signin /Signup forms *****/

.content_container label {
	font: 1.1em;
}

.content_container {
	width: 910px;
	min-height: 400px;
}

div.field {
	width: 305px;
	margin-top: 6px;
}

.field_size {
	width: 300px;
	height: 20px;
	font-size: 14px;
}

input#password {
	width: 300px;
	height: 20px;
	font-size: 14px; 
}

.field input {
	margin-top: 1px;
}


p.signup_info {
	width: 720px;
	margin-top: 20px;
}

input.button_sign {
	width: 80px;
	font-size: 1.4em;
	margin-right: 20px;
}

.content_container p {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.1em;
}

.rememberme {
	margin-bottom: 25px;
}


/********************** Footer *****/

footer {
	/*border: 1px solid red;*/
  margin-top: 12px;
  margin-bottom: 16px;
}

footer span, footer a  {
	margin-right: 6px;
	margin-left: 6px;
}

/********************** Link Style *****/

a {
  color: #368BB5;
  text-decoration: none;
}

a:hover {
  color: #590E5A;
  text-decoration: underline;
}

a:visited {
  color: #590E5A;
}

/************************ Utilities ****/

p {
	font-size: 1.2em
}

.round {
  -moz-border-radius:    12px;
  -webkit-border-radius: 12px;
  border-radius:         12px;
}

.round_bottom {
	-moz-border-radius:    0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius:         0 0 8px 8px;
}

.round_top {
	-moz-border-radius:    8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius:         8px 8px 0 0;
}

.round_all {
	-moz-border-radius:    8px;
  -webkit-border-radius: 8px;
  border-radius:         8px;
}

.center {
	text-align: center;
}

.font_small_1 {
	font-size: .9em;
}

.font_color_grey {
	color: #808080;
}

.bold {
	font-weight: bold;
}
	
/*** enclose floated elements ***/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-table;}
/*** END enclose floated elements ***/