a { text-decoration: none; 
	  color: #368BB5;
}

html, body {
	height: 100%;
	margin: 0;
	background: #DCDEDC;
}

.frame {
	display: table;
	width: 100%;
}

html>/**/body .frame {
	height: 100%;
}

.row {
	display: table-row;
	height: 1px;
	overflow: hidden;
}

html>body .row.expand {
	height: auto;
}

#page {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #BBBFBF;
	margin: -86px auto 0 auto;
	width: 960px;
	height: auto;
/*	padding-top: -20px;*/
/*	border: 1px solid red;*/
}

.top {
  border-bottom: 1px solid #BBBFBF;
  height: 140px; 
  margin-top: 0px; 	
	background: #C7D1CA;
	/*border: 1px solid yellow;*/
}

.content_container {
	width: 930px;
  margin: 0 15px 15px 15px;
	padding-top: 15px;
	min-height: 300px;
/*	border: 1px solid red;*/
}

header {
	height: 55px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background: #C7D1CA;
	/*border: 1px solid green;*/
	border: none !important;	
}

header img {
  margin-top: 19px;
  margin-left: 10px;
}

nav {
	float: right;
  margin-top: 24px;
  margin-bottom: -6px;
  /*border: 1px solid green;*/
}

nav a {
  font-size: 1.2em;
	font-weight: bold;
	color: #368BB5 !important;
	margin-right: 20px;
	margin-bottom: 0px;
}

/********** Nav menu on top **********/
.nav_bar {
	width: 98%;
	background: #55B536;
	border-left: 1px solid green;
	border-right: 1px solid green;
	border-top: 1px solid green;
}

.nav_bar_container {
  float: left;
  width: 750px;
  max-width: 950px;
  margin-left: 90px;
/*	border: 1px solid black;*/
}

.nav_bar li {
	list-style-type: none;
	float: left;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 20px;
	padding-left: 20px;
	/*font-size: 1.3em;*/
	font-size: 16px;
/*	border: 1px solid blue;*/
}

.nav_bar a {
	color: #fff;
}

.nav_bar a:hover  {
/*	color: #BA6204 !important;
	color: #BA5604 !important;*/
	height: 20px;
	padding-top: 5px;
	padding-bottom: 3px;
	/*text-decoration: none;*/
}

.nav_bar a:visited {
	color: #fff;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 3px;
}

body#Index li.home_link,
body#Jokes li.jokes_link,
body#EditJoke li.jokes_link,
body#JokesByAuthor li.jokes_link,
body#JokesByAuthors li.jokes_link,
body#JokesByDate li.jokes_link,
body#MyJokes li.jokes_link,
body#CreateJoke li.jokes_link,
body#EditJoke li.jokes_link,
body#Joke li.jokes_link,
body#Challenges li.challenges_link,
body#ViewChallenge li.challenges_link,
body#CreateChallenge li.challenges_link,
body#EditChallenge li.challenges_link,
body#FunFacts li.fun_facts_link,
body#CreateFunFact li.fun_facts_link,
body#EditFunFact li.fun_facts_link,
body#FunFact li.fun_facts_link,
body#Games li.games_link,
body#Links li.my_links,
body#EditLink li.my_links,
body#ManageLinks li.my_links,
body#CreateLink li.my_links,
body#MansterCards li.mansters_link {
	background-color: #13A835;
	color: #fff;
	padding-top: 6px;
	padding-bottom: 6px;
}

/********** Home Page **********/

img.joke_image_home {
  float: left;
  margin: 1em 0 0 60px;
}

img.challenge_image_home {
  float: left;
  margin: 15em 0 0 -260px;
}

img.manster_image_home {
  float: left;
  margin: 29em 0 0 -100px;
}

#logo_image {
	float: left;
	margin-top: 4em;
  margin-left: -60px;
  padding: 0 20px 0 20px;
}

#home_main {
	float: left;
	width: 360px;
	margin-top: -34em;
  margin-left: 256px;
  padding: 20px 20px 0 20px;
  text-align: justify;
}

img.funfact_image_home {
  float: right;
  margin: -39.7em 55px 0 0;
}

img.links_image_home {
  float: right;
  margin: -25.6em 0 0 0;
}

img.game_image_home {
  float: right;
  margin: -11.3em 160px 0 0;
}

/*a.signup_button {
	display: block;
	width: 170px;
  background: #F2A81A;
  padding: 20px;
	margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  color: white !important;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
}*/

a.signup_button {
  display: block;
	width: 170px;
	margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #F2A81A !important;
  color: #4E8F0D !important;
  font-size: 2em;
  font-weight: bold;
}

a.signup_button:hover {
  text-decoration: none !important;
  color: #F2A81A !important;
}

/************ Index Page **********/

div.joke_Challenge {
	float: left;
/*	border: 1px solid blue;*/
	width: 580px;
	min-height: 500px;
	padding: 0;
	margin-left: 20px;
}

div.joke_of_day {
	border: 2px solid red;
	min-height: 192px;
	max-height: 600px;
	margin: 0 25px 25px 0;
	padding: 20px 20px 0px 20px;
}

div.joke_title_area {
	width: 500px;
	margin-left: 10px;
/*	border: 1px solid red;*/
}

.joke_title_area img {
	float: left;
	margin-bottom: -18px;
/*	border: 1px solid red;*/
}


.joke_title_area h2,
.challenge_title_area h2 {
	float: left;
  font-size: 2em; 
	margin: 12px 12px 0 0;
	text-align: center;
/*		border: 1px solid red;*/
}

.joke_title_area h2 {
	color: red;
	margin-left: 90px;
}

.joke_content h3 {
	text-align: center;
	width: 360px;
	margin-left: 90px;
	margin-top: -5px;
/*	border: 1px solid red;*/
}

div.challenge_of_week {
	min-height: 250px;
	max-height: 600px;
	border: 2px solid #368BB5;
	/*border: 1px solid #808080;*/
	margin: 0 25px 0 0;
	padding: 20px;
}

div.challenge_title_area {
	width: 510px;
/*	border: 1px solid red;*/
}

.challenge_title_area h2 {
	color: #368BB5;
	margin-left: 100px;
}

.challenge_title_area img {
  /*border: 1px solid red;*/
  margin-left: 60px;
}

.challenge_content h3:first-child {
	width: 360px;
	margin-left: 35px;
	margin-top: -16px;
/*	border: 1px solid red;*/
	text-align: center;
}

.challenge_answer {
/*	border: 1px solid red;*/
	width: 360px;
	margin-left: 35px;
}

.challenge_content h4 {
	font-weight: bold;
/*	border: 1px solid red;*/
}

.challenge_content div.field {
	margin-left: 0;
	/*border: 1px solid blue;*/
}

div.fact_links {
	float: left;
	width: 310px;
	/*border: 1px solid blue;*/
	min-height: 500px;
	/*max-height: 800px;*/
	padding: 0;
}

div.fun_fact {
	border: 2px solid green;
	min-height: 120px;
	max-height: 600px;
	margin: 0;
	padding: 20px 20px 0px 20px;
}

div.fact_title_area {
	width: 240px;
/*	margin-bottom: -12px;*/
/*	border: 1px solid red;*/
}

.fact_title_area h2 {
	color: green;
	width: 165px;
	float: left;
	margin: 12px 0 0 0;
	text-align: center;
}

.fact_title_area img {
	float: right;
	margin-right: -5px;
}

.fact_content h3 {
  width: 160px;
  text-align: center;
  margin-top: -4px;
}

div.my_links {
	min-height: 150px;
	max-height: 600px;
	margin: 25px 0 0 0;
	padding: 20px 20px 10px 30px;
	border: 2px solid orange;
}

.my_links h2 {
	color: orange;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
}

.my_links li {
	list-style-type: square; 
	margin-top: 2px;
}

/********************** Footer *****/

footer {
	/*border: 1px solid red;*/
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
  text-align: center;
  font-size: .8em; 
  color: #565957;

}

footer span, footer a  {
	margin-right: 6px;
	margin-left: 6px;
}

/************************* Header *********/
body#Users a.highlight_users,
body#User a.highlight_users,
body#EditUser a.highlight_profile
 {
	border: 1px solid red;
	padding: 2px;
	background: #F0F5F3;
}

/********************* Signin /Signup forms *****/

/*input#password {
	width: 96%;
	height: 20px;
	font-size: 1.1em; 
}*/

.content_container p {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 1.1em;
}

#rememberme {
	margin-top: 25px;
	margin-bottom: 25px;
}

.sign_buttons {
	/*border: 1px solid red;*/
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

/********************** Form style *************/

.page_title {
	text-align: center;
	font-size: 2.5em;
	margin-top: 20px;
	margin-bottom: 30px;
	/*border: 1px solid red;*/
}

div.field {
	width: 420px;
	margin-top: 14px;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid green;*/
}
/*
.field_center {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid blue;
}*/

.field label {
	font-size: 1.1em;
}

.field input, .field select, .field textarea {
	margin-top: 1px;
	font-size: 1.1em;
}

.field_size {
	width: 96%;
	height: 20px;
}

input#password {
	width: 96%;
	height: 20px;
}

input.buttons {
	width: 80px;
	font-size: 1.4em;
	margin-right: 20px;
}

textarea {
	line-height: 140%%;
  height: 140px;
  width: 495px;
}

/*.actions {
	margin-top: 10px;
	border: 1px solid red;
}*/

input:focus, textarea:focus  { 
   outline: none;
   border: 1px solid #368BB5 !important; 
   border: 1px solid orange !important; 
   
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
           border-radius: 4px;
   /* create a BIG glow */ 
/*   -webkit-box-shadow: 0px 0px 1px #368BB5; 
      -moz-box-shadow: 0px 0px 1px #368BB5;
           box-shadow: 0px 0px 1px #368BB5; */    
/*   -webkit-box-shadow: 0px 0px 1px green; 
      -moz-box-shadow: 0px 0px 1px green;
           box-shadow: 0px 0px 1px green; */
}​


/********************** Link Style *****/

a {
  color: #368BB5;
  text-decoration: none;
}

a:hover {
  color: #590E5A;
  text-decoration: underline;
}

a:visited {
  color: #590E5A;
  color: #9915E6;
}


/********* Utilities **********/

.round {
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
}

.round_bottom {
  -webkit-border-radius: 0 0 8px 8px;
     -moz-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
}

.round_top {
  -webkit-border-radius: 8px 8px 0 0;
     -moz-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
}

.round_all {
  -webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
          border-radius: 8px;
}

.center { text-align: center; }

.margin_left_5 { margin-left: 5px; }

.padding_top_10 { padding-top: 20px; }

.font_color_red { color: red;}

.font_2 { font-size: 1.2em !important; }

#border_red { border: 2px solid red; }

.flash, .alert { 
	margin-top: 8px; 
	width: 96%; 
	margin-left: auto; 
	margin-right: auto;
	-webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
}
/*.margin_bottom_20 { margin-bottom: -20px; }*/