/*********************** Layout *****/
body {
	background: #DCDEDC;
}

.top {
  border-bottom: 1px solid #BBBFBF;
  height: 140px; 
  margin-top: 0px; 	
	background: #C7D1CA;
}

header {
	height: 55px;
	width: 991px;
	background: #C7D1CA;
	margin-top: -6px;
	border: none !important;	
}

header img {
  margin-top: 19px;
  margin-left: 10px;
}

nav {
	float: right;
  margin-top: 24px;
  margin-bottom: -6px;
}

nav span {
	padding-right: 30px;
}

nav a {
  font-size: 1.2em;
	font-weight: bold;
	color: #368BB5 !important;
	margin-right: 20px;
	margin-bottom: 0px;
}

.nav_bar div {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -4px;
}

ul.nav_bar {
	width: 992px;
	border-left: 1px solid green;
	border-right: 1px solid green;
	border-top: 1px solid green;
	background: #55B536;
	color: #fff;
	margin-bottom: 0;
}

.nav_bar li {
	list-style-type: none;
	float: left;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: -14px;
	font-size: 1.3em;
}

.nav_bar a {
	padding-top: 8px;
	padding-bottom: 7px;
  padding-right: 20px;
	padding-left: 20px;
	color: #fff;
}

.nav_bar a:hover  {
	color: #fff;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 3px;
	text-decoration: none;
}

.nav_bar a:visited {
	color: #fff;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 3px;
}

body#Index li.home_link,
body#Jokes li.jokes_link,
body#EditJoke li.jokes_link,
body#JokesByAuthor li.jokes_link,
body#JokesByAuthors li.jokes_link,
body#JokesByDate li.jokes_link,
body#MyJokes li.jokes_link,
body#CreateJoke li.jokes_link,
body#EditJoke li.jokes_link,
body#Joke li.jokes_link,
body#Challenges li.challenges_link,
body#ViewChallenge li.challenges_link,
body#CreateChallenge li.challenges_link,
body#EditChallenge li.challenges_link,
body#FunFacts li.fun_facts_link,
body#CreateFunFact li.fun_facts_link,
body#EditFunFact li.fun_facts_link,
body#FunFact li.fun_facts_link,
body#Games li.games_link,
body#Links li.my_links,
body#EditLink li.my_links,
body#ManageLinks li.my_links,
body#CreateLink li.my_links,
body#MansterCards li.mansters_link {
	background-color: #13A835;
	color: #fff;
	padding-top: 6px;
	padding-bottom: 6px;
}

div.container {
	margin-top: -135px;
}

div.main {
	background: #fff;
	border: 1px solid #BBBFBF;
	/*border: 1px solid red;*/
	min-height: 600px;
	max-height: 800px;
	margin-top: -5px;
	padding: 40px 40px 20px 40px;
}

/************************* Header *********/
body#Users a.highlight_users,
body#User a.highlight_users,
body#EditUser a.highlight_profile
 {
	/*border: 1px solid red;*/
	padding: 2px;
	background: #F0F5F3;
}


/************************* Home page *****/

div.home_images {
	width: 180px;
	height: 140px;
	background-color: #CCFFCC;
	text-align: center;
}

div.joke_image {
  float: left;
  margin: 15px 0 0 60px;
}

div.challenge_image {
  float: left;
  margin: 230px 0 0 -240px;
}

div.manster_image {
  float: left;
  margin: 485px 0 50px -10px;
  margin: 440px 0 -10px -40px;
}

#logo_image {
	float: left;
	margin-top: 50px;
  margin-left: -80px;
  padding: 0 20px 0 20px;
}

#home_main {
	float: left;
	width: 360px;
	margin-top: -420px;
  margin-left: 256px;
  padding: 20px 20px 0 20px;
}

div.funfact_image {
  float: right;
  margin: -550px 65px 0 0;
}

div.links_image {
  float: right;
  margin: -340px 0px 0 0;
}

div.game_image {
  float: right;
  margin: -132px 190px -10px 0;
}

.border-top {
  border-bottom: 1px solid #BBBFBF;
  height: 120px; 
  margin-top: 0px; 
	background: #E1EDE7;
}

a.signup_button {
	display: block;
	width: 170px;
  background: #F2A81A;
  padding: 20px;
	margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  color: white !important;
  font-size: 150%;
  font-weight: bold;
}

a.signup_button:hover {
  text-decoration: none !important;
}

/********************** Index page *************/
div.joke_Challenge {
	float: left;
	/*border: 1px solid blue;*/
	width: 580px;
	min-height: 500px;
	/*max-height: 800px;*/
	padding: 0;
}

div.joke_of_day {
	border: 1px solid #808080;
	min-height: 250px;
	max-height: 600px;
/*	height: 600px;*/
	margin: 0 25px 25px 0;
	padding: 20px 20px 20px 20px;
}

div.challenge_of_week {
	min-height: 250px;
	max-height: 600px;
	/*height: 600px;*/
	border: 1px solid #808080;
	margin: 0 25px 0 0;
	padding: 20px;
}

div.fact_links {
	float: left;
	width: 290px;
	/*border: 1px solid blue;*/
	min-height: 500px;
	/*max-height: 800px;*/
	padding: 0;
}

div.fun_fact {
	min-height: 200px;
	max-height: 600px;
	border: 1px solid #808080;
	margin: 0;
	padding: 20px;
}

div.my_links {
	min-height: 300px;
	max-height: 600px;
	border: 1px solid #808080;
	margin: 25px 0 0 0;
	padding: 20px 20px 20px 30px;
}

div.joke_title_area {
	width: 500px;
	margin-left: 10px;
/*	border: 1px solid red;*/
}

.joke_title_area img {
	float: left;
	margin-bottom: -18px;
/*	border: 1px solid red;*/
}	

.joke_title_area h2,
.challenge_title_area h2 {
	width: 360px;
	float: left;
/*	border: 1px solid red;*/
  /*margin-left: 4px;*/
	margin: 12px 0 0 0;
	text-align: center;
}

div.joke_content {
	/*border: 1px solid red;*/
	margin-top: -10px;
	width: 540px;
}

.joke_content h3 {
	width: 360px;
	margin-left:90px;
	/*border: 1px solid red;*/
}

div.challenge_title_area {
	width: 540px;
	/*border: 1px solid red;*/
}

.challenge_title_area h2 {
	width: 380px;
	margin-left: 80px;
}

.challenge_title_area img {
	/*width: 400px;*/
	/*float: left;*/
/*border: 1px solid red;*/
	/*margin: 12px 0 0 0;*/
	/*text-align: center;*/
}

div.challenge_content {
	/*border: 1px solid red;*/
	margin-top: -10px;
	width: 540px;
}

div.fact_title_area {
	width: 240px;
	margin-bottom: -12px;
/*	border: 1px solid red;*/
}

.fact_title_area h2 {
	width: 165px;
	float: left;
/*border: 1px solid red;*/
	margin: 12px 0 0 0;
	text-align: center;
}

.fact_title_area img {
	float: right;
	margin-right: -20px;
	margin-bottom: 0px;
/*	border: 1px solid red;*/
}

.fact_content h3 {
  width: 165px;
/*border: 1px solid red;*/
}

/********************* Links page **************/

div.links {
	/*border: 1px solid yellow;*/
	margin-left: 20px;
	margin-top: -8px;
	margin-bottom: 20px;
	font-size: 1.1em;
}

.links span {
	margin-right: 5px;
	float: left;
	/*border: 1px solid red;*/
}

.link_name {
	width: 210px;
}

.link_category {
	width: 220px;
}

.delete_link{
	width: 120px;
}

.links_row {
  float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 5px;
	/*margin-right: 2px;*/
	margin-top: 2px;
	/*border: 1px solid red;*/
	/*background-color: #E3E8E8;*/
/*	border-bottom: 1px dotted #808080;*/
	border-bottom: 1px solid #EBEFF0;
	border-bottom: 1px solid #E8EDED;
	/*border-bottom: 1px solid #BEC2C2;*/
	/*border-bottom: 1px solid #C0C4C4;*/
	border-bottom: 1px solid #C5C9C9;
	border-bottom: 1px solid #CFD4D3;
}

div.categories {
	/*border: 1px solid red;*/
}

/********************** Form style *************/

.content_container {
	width: 910px;
	min-height: 400px;
	/*border: 1px solid red;*/
}

div.field {
	width: 420px;
	margin-top: 8px;
/*	margin-left: auto;
	margin-right: auto;*/
	/*border: 1px solid blue;*/
}

.field_center {
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid blue;*/
}

.field label {
	font-size: 1.1em;
}

.field input, .field select, .field textarea {
	margin-top: 1px;
	font-size: 1.1em;
}

.field_size {
	width: 400px;
	height: 20px;
	border: 1px solid red;
}

input.buttons {
	width: 80px;
	font-size: 1.4em;
	margin-right: 20px;
}

textarea {
/*	font-size: 1.1em;*/
	line-height: 2em;
  height: 140px;
  width: 495px;
}

.actions {
	margin-top: 10px;
	/*border: 1px solid red;*/
}
/********************* Signin /Signup forms *****/

input#password {
	width: 400px;
	height: 20px;
	font-size: 1.1em; 
}

p.signup_info {
/*	width: 720px;*/
	margin-top: 20px;
}

.content_container p {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.1em;
}

.rememberme {
	margin-bottom: 25px;
}

/********************** page layout ********/

.page_main_list a {
	/*border: 1px solid red;*/
	margin-right: 30px;
}

.page_main_list span {
	color: #808080;
}

.page_main {
	float: left;
	border-right: 1px dotted #808080;
	/*border: 1px solid blue;*/
	min-height: 150px;
	width: 650px;
	margin-right: 0;
	padding: 0 30px 20px 20px;
}

div.page_links {
	float: left;
	width: 194px;
	padding-left: 10px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	/*border: 1px dotted red;*/
}

.page_links li {
	list-style-type: none;
/*	border: 1px solid blue;*/
}

.page_links img{
	float: left;
	/*border: 1px solid red;*/
	margin-right: 5px;
}

.page_links a {
	float: left;
	height: 18px;
/*	border: 1px solid red;*/
	margin: 0;
	padding-top: 2px;
}

/********************** Jokes ***********/

div.joke_author {
	/*border: 1px solid blue;*/
	margin: 5px 0 5px 0;
}

div.joke_name {
	width: 200px;
}

/********************** challenges ******/

.page_main p {
/*	border: 1px solid blue;*/
	margin-top: 0;
}


/********************** Footer *****/

footer {
	/*border: 1px solid red;*/
  margin-top: 12px;
  margin-bottom: 16px;
}

footer span, footer a  {
	margin-right: 6px;
	margin-left: 6px;
}

/********************** Link Style *****/

a {
  color: #368BB5;
  text-decoration: none;
}

a:hover {
  color: #590E5A;
  text-decoration: underline;
}

a:visited {
  color: #590E5A;
  color: #9915E6;
}

/************************ Utilities ****/

.title_font { font-size: 2.5em; }

.font_small_1 {	font-size: .9em; }

.font_2 { font-size: 1.2em; }

.font_color_grey { color: #808080; }

.font_color_orange { color: orange;}

#border_orange { border: 2px solid orange; }

.font_color_green { color: green;}

#border_green { border: 2px solid green; }

.font_color_red { color: red;}

#border_red { border: 2px solid red; }

.font_color_blue { color: #368BB5;}

#border_blue { border: 2px solid #368BB5; }

.bold {	font-weight: bold; }

p {	font-size: 1.1em; }

div.hidden {
	visibility: hidden;
}
	
.round {
  -moz-border-radius:    12px;
  -webkit-border-radius: 12px;
  border-radius:         12px;
}

.round_bottom {
	-moz-border-radius:    0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius:         0 0 8px 8px;
}

.round_top {
	-moz-border-radius:    8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius:         8px 8px 0 0;
}

.round_all {
	-moz-border-radius:    8px;
  -webkit-border-radius: 8px;
  border-radius:         8px;
}

.list_style1 {
  font-size: 1.2em;
  width: 150px;
  float-left;
}

.border {
	border: 1px solid red;
}

.list_no_style { list-style-type: none; }

.list_style_square { list-style-type: square; }

.center {	text-align: center; }
	
.width_40 { width: 40px; border: 1px solid red;}

.width_100 { width: 100px; border: 1px solid red;}

.width_400 { width: 400px; }

.width_300 { width: 300px; }
	
.right_margin_20 { margin-right: 20px; }

.margin_top_5 { 	margin-top: 5px; }

.margin_top_10 { 	margin-top: 10px; }

.margin_top_20 { 	margin-top: 20px; }

.margin_top_40 { margin-top: 40px; }

.margin_bottom_10 {	margin-bottom: 10px; }

.margin_bottom_20 {	margin-bottom: 20px; }

.margin_bottom_40 {	margin-bottom: 40px; }

.margin_right_10 { margin-right: 10px; }

.margin_right_20 { margin-right: 20px; }

.margin_left_5 {	margin-left: 5px; }

.margin_left_10 {	margin-left: 10px; }

.margin_left_20 {	margin-left: 20px; }

.margin_left_30 {	margin-left: 30px; }

.margin_left_40 {	margin-left: 40px; }

.margin_left_100 {	margin-left: 100px; }

.padding_top_10 {	padding-top: 10px; }

.padding_top_20 {	padding-top: 20px; }

.background_grey { background-color: #F0F5F4; }

.float_left { float:left; }

.width_50 {
	width: 50px;
/*	border: 1px red solid;*/
}

.width_100 {
	width: 100px;
/*	border: 1px red solid;*/
}

.width_150 {
	width: 150px;
/*	border: 1px red solid;*/
}
.width_200 {
	width: 200px;
/*	border: 1px red solid;*/
}

.width_250 {
	width: 250px;
/*	border: 1px red solid;*/
}

.width_620 {
	width: 620px;
	border: 1px red solid;
}


.margin_auto {
	margin-left: auto;
	margin-right: auto;
}

.users p {
	border: 1px solid red;
}
.title {
	width: 670px;
	text-align: center;
/*	border: 1px solid green;*/
}
/*
.title2 {
	width: 630px;
	text-align: center;
border: 1px solid green;
}*/

/*** enclose floated elements ***/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-table;}
/*** END enclose floated elements ***/