<footer class="font_small_1 font_color_grey center">
	<span>COPYRIGHT @ 2011 FOOFALO.COM ALL RIGHTS RESERVED</span> |
	<% if current_user %>
	  <%= link_to "HOME", index_url %> |
	<% else %>
	  <%= link_to "HOME", root_url %> |
	<% end %>
	  <%= link_to "ABOUT", about_url %> |
	  <%= link_to "TERMS", terms_url %>
</footer>